@import "../../variables.scss";

.landing-section {
  position: absolute;
  width: 100%;
  height: 100%;
  background: $neutral-color-1;
  /* ToDo: Test later
  background-image: linear-gradient(
    to bottom,
    #1f2933,
    #343f4a,
    #495661,
    #606e7a,
    #788794
  );*/
}
