@import '../../variables.scss';

.typing-effect {
  font-size: 48px;
  letter-spacing: 0.1rem;
  color: $neutral-color-9;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  min-width: 320px;

  &--typed-text {
    color: $primary-color-8;
  }

  &--cursor {
    display: inline-block;
    background-color: $neutral-color-9;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;

    &.typing {
      animation: none;
    }
  }
}

@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}
