@import '../../variables.scss';

.about-section {
  display: flex;
  align-items: center;
  padding: 48px 0px;
  flex-direction: column;

  &--title {
    margin-bottom: 12px;
  }

  &--title-bar {
    height: 4px;
    background-color: $neutral-color-5;
    width: 80px;
  }

  &--content-container {
    width: 100%;
    min-height: 500px;
    max-width: 900px;
  }

  &--image-container--col {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--image {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin: 48px;
  }

  &--text {
    margin: 0px 24px 48px 24px;
    max-width: 500px;
  }
}
