/*
Colors that determine the overall "look" of the site. 
Used for things like primary actions, links, navigation items, icons, accent
borders, or emphasized text.
*/
$primary-color-1: #035388;
$primary-color-2: #0b69a3;
$primary-color-3: #127fbf;
$primary-color-4: #1992d4;
$primary-color-5: #2bb0ed;
$primary-color-6: #40c3f7;
$primary-color-7: #5ed0fa;
$primary-color-8: #81defd;
$primary-color-9: #b3ecff;
$primary-color-10: #e3f8ff;

/*
Used for most of the text, backgrounds, and borders,
as well as for things like secondary buttons and links.
*/
$neutral-color-1: #1f2933;
$neutral-color-2: #323f4b;
$neutral-color-3: #3e4c59;
$neutral-color-4: #52606d;
$neutral-color-5: #616e7c;
$neutral-color-6: #788794;
$neutral-color-7: #9aa5b1;
$neutral-color-8: #cbd2d9;
$neutral-color-9: #e4e7eb;
$neutral-color-10: #f5f7fa;

/*
Used when an element needs to stand out, 
or to reinforce things like error states.
*/
$pink-supporting-color-1: #620042;
$pink-supporting-color-2: #a30664;
$pink-supporting-color-3: #da127d;
$pink-supporting-color-4: #ff8cba;
$pink-supporting-color-5: #ffb8d2;
$pink-supporting-color-6: #ffe3ec;

$red-supporting-color-1: #610316;
$red-supporting-color-2: #ab091e;
$red-supporting-color-3: #e12d39;
$red-supporting-color-4: #ef4e4e;
$red-supporting-color-5: #ff9b9b;
$red-supporting-color-6: #ffe3e3;
